// Lora Regular
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'),
       url('#{$asset_url}/fonts/Lora-Regular.ttf') format('truetype');
}

// Lora Italic
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Italic'), local('Lora-Italic'),
       url('#{$asset_url}/fonts/Lora-Italic.ttf') format('truetype');
}

// Lora Bold
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold'), local('Lora-Bold'),
       url('#{$asset_url}/fonts/Lora-Bold.ttf') format('truetype');
}

// Lora Bold Italic
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
       url('#{$asset_url}/fonts/Lora-BoldItalic.ttf') format('truetype');
}

// Neue Montreal Regular
@font-face {
  font-family: "Neue-Montreal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NeueMontreal-Regular"),
       url("/assets/fonts/NeueMontreal-Regular.otf") format("opentype");
}

// Neue Montreal Medium
@font-face {
  font-family: "Neue-Montreal";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("NeueMontreal-Medium"),
       url("/assets/fonts/NeueMontreal-Medium.otf") format("opentype");
}

// Neue Montreal Bold
@font-face {
  font-family: "Neue-Montreal";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("NeueMontreal-Bold"),
       url("/assets/fonts/NeueMontreal-Bold.otf") format("opentype");
}

// Neue Montreal Light
@font-face {
  font-family: "Neue-Montreal";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("NeueMontreal-Light"),
       url("/assets/fonts/NeueMontreal-Light.otf") format("opentype");
}

// Neue Montreal Italic
@font-face {
  font-family: "Neue-Montreal";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("NeueMontreal-Italic"),
       url("/assets/fonts/NeueMontreal-Italic.otf") format("opentype");
}

// Neue Montreal Medium Italic
@font-face {
  font-family: "Neue-Montreal";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("NeueMontreal-MediumItalic"),
       url("/assets/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
}

// Neue Montreal Bold Italic
@font-face {
  font-family: "Neue-Montreal";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("NeueMontreal-BoldItalic"),
       url("/assets/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
}
